<!DOCTYPE html>
<div class="div-question">
  <div>
    <img src="<%=author.image%>" width="200px" height="200px"/>
  </div>
  <br/><br/>
  Nombre: <%=author.name%><br/>
  Descripcion: <%=author.description %>
</div>
