<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Cabecera de la pagina -->
    <header>
      <div>
        QUIZ 2015
      </div>
    </header>
    <!-- Barra de navegacion (menu) -->
    <nav>
    </nav>
    <!-- Contenido que se renderiza dinamicamente -->
    <section>
      <%- body %>
    </section>
    <!-- Pie de pagina -->
    <footer>
      <div>
        <a href='https://github.com/Axeln5dev/quiz-2015' target="_blank">Ver en GITHUB. version <%= version %></a>
      </div>
    </footer>
  </body>
</html>
