<!DOCTYPE html>
<form action='/quizes' method='GET'>
  Buscar pregunta
  <input type="text" name="search" value=""/>
  <input type="submit" value="Buscar"/>
  <br/><br/>
  <hr/>
  <br/>
  <table>
  <% for (var x = 0; x < quizes.length; x++) { %>
      <tr>
        <td><a href='/quizes/<%=quizes[x].id%>'><%=quizes[x].pregunta %></a></td>
        <td><a href='/quizes/<%=quizes[x].id%>/edit'>EDITAR</a></td>
      </tr>
  <% } %>
  </table>
  <a href='/quizes/new'><input type="button" value='Crear Pregunta'/></a>
</form>
