<!DOCTYPE html>
<form action='/answer' methos='get'>
  <div class="div-question">
    <%=quiz_question %>
  </div>
  <div>
    <input type="text" name="answer"/>
  </div>
  <div>
    <input type="submit" value="Enviar"/>
  </div>
  <div>
    <input type="button" value="Volver" onClick="location = '/'"/>
  </div>
  <script>
    document.forms[0].answer.focus();
  </script>
</form>
