<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/answer' methos='get'>
      <p><b><%=quiz_question %></b></p>
      <input type="text" name="answer"/>
      <input type="submit" value="Enviar"/>
    </form>
  </body>
</html>
